@page
@model NguyenHuynhAnhTaiSignalR.Pages.News.NewsDetailModel

@{
    ViewData["Title"] = "NewsDetail";
}

<style>
    .tag-name {
        color: white;
        background-color: #17a2b8;
        padding: 0.5em 1em; 
        border-radius: 0.25rem; 
        display: inline-block; 
    }
</style>

<div>
    <dl class="row">
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsTitle)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.NewsArticle.NewsTitle)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.NewsArticle.CreatedDate)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.NewsArticle.CreatedDate)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsContent)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.NewsArticle.NewsContent)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsStatus)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.NewsArticle.NewsStatusDisplay)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.NewsArticle.ModifiedDate)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.NewsArticle.ModifiedDate)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.NewsArticle.Category)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.NewsArticle.Category.CategoryDesciption)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.NewsArticle.Tags)
        </dt>
        <dd class="col-8">
            @foreach (var tag in Model.NewsArticle.Tags)
            {
                <span class="badge badge-info tag-name">@tag.TagName</span>
            }
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.NewsArticle.CreatedBy)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.NewsArticle.CreatedBy.AccountName)
        </dd>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div style="color: red" id="error-message">@Model.Message</div>
        }
    </dl>
</div>
