@page
@model NguyenHuynhAnhTaiSignalR.Pages.TagManagement.IndexModel


@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="/CategoryManagement/Index" class="list-group-item list-group-item-action">Category Management</a>
            <a href="/NewsArticleManagement" class="list-group-item list-group-item-action">News Management</a>
            <a href="/TagManagement/Index" class="list-group-item list-group-item-action">Tags Management</a>
            <a href="/ProfileManagement/AccountDetail" class="list-group-item list-group-item-action">Profile Management</a>
            <a href="/NewsArticleManagement/History" class="list-group-item list-group-item-action">Your History</a>
        </div>
    </div>
    <div class="col-md-9">
        <h1>Tags Management</h1>

        <p>
            <a class="btn btn-primary createButton">Create</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tag[0].TagName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tag[0].Note)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tag)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td class="d-flex flex-column justify-content-between">
                            <a class="btn btn-warning updateButton" data-id="@item.TagId">Update</a>
                            <a class="btn btn-danger deleteButton" data-id="@item.TagId">Delete</a>
                            <button class="btn btn-primary detailsButton" data-id="@item.TagId">Details</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Content will be loaded here -->
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('body').on('click', '.createButton', function () {
                window.location.href = '/TagManagement/Create';
            });

            $('body').on('click', '.updateButton', function () {
                var id = $(this).data('id');
                window.location.href = '/TagManagement/Edit?id=' + id;
            });

            $('body').on('click', '.deleteButton', function () {
                var id = $(this).data('id');
                window.location.href = '/TagManagement/Delete?id=' + id;
            });

            $('body').on('click', '.detailsButton', function () {
                var newsArticleId = $(this).data('id');
                $('#formModalLabel').text('Detail');
                openDetailsModal(newsArticleId);
            });
        });

        function openDetailsModal(newsArticleId) {
            $.ajax({
                url: '/TagManagement/Details?id=' + newsArticleId,
                method: 'GET',
                success: function (data) {
                    $('.modal-body').html(data);
                    $('#formModal').modal('show');
                },
            });
        }

        function closeModal() {
            $('#formModal').modal('hide');
            window.location.href = '/TagManagement/Index';
        }
    </script>
}